.footer {
  background-color: rgb(39, 37, 37);
  padding: 2rem 2rem 0 2rem;
  .footer-content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
    .footer-logo {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      img {
        width: 200px;
        height: auto;
        filter: invert(1);
      }
      hr {
        width: 100%;
        height: 1.5px;
        background-color: white;
        border: none;
        margin: 1rem 0;
      }
      h1 {
        font-size: 1.5rem;
        margin: 0;
        letter-spacing: 1.5px;
        color: white;
      }
    }
    .line{
        width: 1px;
        height: 7rem;
        background-color: white;
        margin: 0 2rem;
    }
    .footer-contact {
      color: white;
      hr {
        width: 100%;
        height: 1.5px;
        background-color: white;
        border: none;
        margin: 1rem 0;
      }

      h2 {
        letter-spacing: 1px;
        margin-bottom: 1.5rem;
      }

      .contact-text {
        letter-spacing: 1px;
      }
    }
  .footer-links {
    h2 {
      color: white;
      letter-spacing: 1px;
        margin-bottom: 1.5rem;
    }
    hr {
      width: 100%;
      height: 1.5px;
      background-color: white;
      border: none;
      margin: 1rem 0;
    }
    .social-links {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      margin-top: 1rem;
      a {
        background-color: white;
        color: rgb(39, 37, 37);
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        //   color: white;
        font-size: 1.5rem;
        text-decoration: none;
        transition: color 0.3s ease-in-out;
        &:hover {
          color: #b17214;
        }
      }
    }
  }
  }
  .copyright {
    color: rgb(177, 176, 176);
    font-size: 1rem;
    letter-spacing: 0.5px;
    text-align: center;
    padding: 1rem 0;
    margin: 2rem 0 0 0;
    p {
      margin: 0;
    }
  }
}
.wave-top {
  width: 100%;
  height: 100px;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  margin-top: 2rem;

  svg {
    width: 100%;
    height: 100%;
    display: block;
  }
}
@media (max-width: 768px) {
    .footer{
        h2{
            text-align: center;
        }
        .footer-content{
            .line{
                display: none; // 手機版隱藏分隔線
            }
        }
    }
}
