.home {
  height: 100vh;
  // background-color: black;
  background-image: url("https://i.pinimg.com/736x/7f/a1/b3/7fa1b30ec174933fe51feb043e67d0c9.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed; /* 關鍵 */
  filter: grayscale(100%);
  transition: filter 0.5s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;

  // 小螢幕禁用 background-attachment: fixed
  @media (max-width: 768px) {
    background-attachment: scroll;
    background-size: cover;
    // background-size: 100% auto;
    background-position: center center;
  }
  .profile {
    margin-left: 10rem;
    h1 {
      letter-spacing: 5px;
    }
    p {
      font-size: 1.5rem;
    }
  }
}
.home:hover {
  filter: grayscale(0%);
}

// 手機版樣式 - 移到外面
@media (max-width: 1299px) {
  .home {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh; /* 讓整個區塊至少撐滿一個畫面高度 */
    .profile {
      margin: 7rem 20px;
      margin-top: auto; /* 將 .profile 推到底部 */
      margin-bottom: 2rem;
      padding: 0 20px;
    }
  }
}
