.home {
  height: 100vh;
  // background-color: black;
  background-image: url("./img/I-14.png");
  background-size: cover;
  background-position: center center;
  // background-attachment: fixed; /* 關鍵 */
  filter: grayscale(100%);
  transition: filter 0.5s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // justify-content: top;

  @media (min-width: 1181px) {
    background-attachment: fixed; /* 關鍵 */
  }

  // 小螢幕禁用 background-attachment: fixed
  @media (max-width: 768px) {
    background-attachment: scroll;
    background-size: cover;
    // background-size: 100% auto;
    // background-position: center center;
  }
  .profile {
    margin-left: 10rem;
    h1 {
      letter-spacing: 5px;
      // margin-top: 10rem;
      // text-align: right;
      // margin-right: 5rem;
    }
    p {
      font-size: 1.5rem;
      font-family: "Noto Serif TC", serif !important;
    }
  }
}
.home:hover {
  filter: grayscale(0%);
}

// 手機版樣式 - 移到外面
@media (max-width: 1299px) {
  .home {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh; /* 讓整個區塊至少撐滿一個畫面高度 */
    .profile {
      margin: 10rem 20px;
      // margin-top: auto; /* 將 .profile 推到底部 */
      // margin-bottom: 2rem;
      padding: 0 20px;
    }
  }
}
