.project {
  width: 100%;
  min-height: 80vh;
  padding: 2rem;
  scroll-margin-top: 80px; /* 對應你的 navbar 高度 */
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    text-align: center;
    margin-bottom: 2rem;
    font-weight: bold;
    font-family: "Noto Sans TC", serif;
    font-optical-sizing: auto;
  }
  h1::after {
    content: "";
    display: block;
    width: 60px;
    height: 5px;
    background-color: #f2b705;
    margin: 10px auto 0 auto; /* 👈 上外距 + 置中 */
  }

  // 外層容器負責置中
  .project-container-wrapper {
    width: 100%;
    display: flex;
    justify-content: center; // 水平置中

    // 內層容器為 Grid，負責卡片排列
    .project-container {
      list-style: none;
      padding: 0;
      margin: 0;

      display: grid;
      grid-template-columns: repeat(3, 1fr); // 固定三欄
      gap: 3rem; // 卡片間距

      max-width: 1000px; // 控制整體寬度
      // width: 100%;
      // display: flex;
      // flex-wrap: wrap;
      // gap: 3rem;
      // // justify-content: center;
      // justify-content: space-between; // 👈 項目左對齊
      // max-width: 1000px; // 👈 設定最大寬度，讓容器可以被置中
    }
  }
}
@media (max-width: 768px) {
  .project {
    padding: 1rem;

    .project-container-wrapper {
      .project-container {
        display: flex;
        flex-direction: column; // 在小螢幕上改為單列排列
        justify-content: center; // 在小螢幕上置中
      }
    }
  }
}
